configuration {
  font: "UDEV Gothic 35NF 16";
  terminal: "zsh";
  sort: true;
  columns: 2;
  width: 30;
  line-margin: 10;
  lines: 5;

  show-icons: true;
}

@theme "~/dotfiles/linux/.config/rofi/popdark.rasi"
