[include]
  path = ~/dotfiles/.heyyou/gitconfig
  path = ~/dotfiles/git/catppuccin.gitconfig
[core]
  autocrlf = input
  excludesfile = ~/dotfiles/git/ignore
  quotepath = false
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  navigate = true
  dark = true
  line-numbers = true
  features = catppuccin-mocha
[diff]
  context = 1
[init]
  defaultBranch = main
[credential "https://github.com"]
  helper = 
  helper = !$HOME/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !$HOME/.nix-profile/bin/gh auth git-credential
