os:
  edit: 'nvr {{filename}}'
  editAtLine: 'nvr --line={{line}} {{filename}}'
  editAtLineAndWait: 'nvr --block --line={{line}} {{filename}}'
  openDirInEditor: 'nvr {{dir}}'
  diff: 'nvr -d {{file1}} {{file2}}'
promptToReturnFromSubprocess: false
customCommands:
  - key: "<c-g>"
    command: "gh pr view -w {{.SelectedLocalBranch.Name}}"
    context: "localBranches"
    description: "Open Github PR in browser"
  - key: "<c-g>"
    command: "gh pr view -w"
    context: "commits"
    description: "Open Github PR in browser"
  - key: "<c-v>"
    command: "nvr --remote-send ':DiffviewOpen {{.SelectedCommitRange.From}}..{{.SelectedCommitRange.To}}<CR>'"
    context: commits
    description: "Open patch in nvim-remote"
  - key: "<c-v>"
    command: "git show HEAD:{{.SelectedFile.Name}} | nvr -d - $(git rev-parse --show-toplevel)/{{.SelectedFile.Name}}"
    context: files
    description: Open file diff in Neovim
  - key: "<c-v>"
    command: "git show {{.SelectedLocalCommit.Sha}}^1:{{.SelectedCommitFile.Name}} > /tmp/prev_$(basename {{.SelectedCommitFile.Name}}) && nvr -d /tmp/prev_$(basename {{.SelectedCommitFile.Name}}) $(git rev-parse --show-toplevel)/{{.SelectedCommitFile.Name}} && rm /tmp/prev_$(basename {{.SelectedCommitFile.Name}})"
    context: commitFiles
    description: Open commit diff in Neovim
git:
  autoFetch: false
  autoRefresh: false
  pagers:
    - colorArg: always
      pager: delta --paging=never
