function! MapCancelKey(key)
  execute 'nnoremap <leader>' . a:key . '<C-[> <Esc>'
  execute 'vnoremap <leader>' . a:key . '<C-[> <Esc>'
endfunction

source ~/.intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" (Optional) My own vim commands
nnoremap Y y$
nnoremap x "_x
nnoremap X "_X
nnoremap d "_d
nnoremap D "_D
nnoremap c "_c
nnoremap C "_C
nnoremap s "_s
nnoremap S "_S

" (Optional) Comma for major mode
nmap , <leader>m
vmap , <leader>m

" (Optional) Add/edit actions
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>

nnoremap gd    :action SplitHorizontally\|action GotoDeclaration<CR>
vnoremap gd    <Esc>:action SplitHorizontally\|action GotoDeclaration<CR>

nnoremap <leader><C-[> <Esc>
vnoremap <leader><C-[> <Esc>
