theme "dracula"
simplified_ui true
show_startup_tips false

keybinds {
    normal clear-defaults=true {
        bind "Alt a" { SwitchToMode "pane"; }
        bind "Alt d" { Detach; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt o" {
            Run "zsh" "-c" "bmo $HOME/dotfiles/.heyyou/bookmarks.toml" {
                close_on_exit true
                floating true
            }
        }
        bind "Alt s" { SwitchToMode "scroll"; }
        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt w" { SwitchToMode "session"; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt m" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }
    pane {
        bind "h" { Resize "Left"; }
        bind "j" { Resize "Down"; }
        bind "k" { Resize "Up"; }
        bind "l" { Resize "Right"; }
        bind "Shift h" { MovePane "Left"; }
        bind "Shift j" { MovePane "Down"; }
        bind "Shift k" { MovePane "Up"; }
        bind "Shift l" { MovePane "Right"; }
    }
}
