layout {
    pane split_direction="vertical" {
        pane size="30%" stacked=true {
            pane command="lazygit"
            pane command="yazi" expanded=true
            pane command="gh" {
                args "dash"
                expanded true
            }
            pane command="lazydocker" {
                expanded true
            }
        }
        pane size="40%" {
            pane command="hx" {
                focus true
            }
        }
        pane size="30%" stacked=true {
            pane command="claude" {}
            pane
        }
    }
}

